<!DOCTYPE html>
<html>
  <head>
    <title>Myapp20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class = "header">
    <a class = "logo" href = "/">Potepan Share</a>
    <ul class = "login_signup">
      <% if user_signed_in? %>
            <li><%= link_to "施設の新規登録",  new_room_path %></li>
            <li>予約済み施設一覧</li>
            <li><%= link_to "登録済み施設一覧", rooms_url %></li>
            <li><%= link_to "アカウント設定", users_mypage_path(current_user), class:"dropdown-item" %></li>
            <li><%= button_to "ログアウト", destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
</header>
<div class="text-success">
    <%= flash[:notice] %>
  </div>
<div class="text-danger">
    <%= flash[:alert] %>
</div>

<%= yield %>


</body>
</html>
