<!DOCTYPE html>
<html>
  <head>
    <title>Myapp20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>>
  </head>

  <body>
  <header class = "header">
    <a class = "logo" href = "/">Potepan Share</a>
    <ul class = "login_signup">
    <% if user_signed_in? %>
    <li><%= image_tag current_user.image.url, class: "avatar" %></li>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.user_name %>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "施設の新規登録",  new_room_path, class:"dropdown-item" %></li>
            <li><%= link_to "予約済み施設一覧", room_reservations_path(current_user.reservations) %></li>
            <li><%= link_to "登録済み施設一覧", rooms_path(current_user.rooms), class:"dropdown-item" %></li>
            <li><%= link_to "アカウント設定", users_mypage_path(current_user), class:"dropdown-item" %></li>
            <li><%= button_to "ログアウト", destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
</header>
<div class="text-success">
    <%= flash[:notice] %>
  </div>
<div class="text-danger">
    <%= flash[:alert] %>
</div>

<%= yield %>

</body>
</html>
